<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reference</title>
</head>
<body>
<div class="container con_r">
    {% for reference in object_list %}
        <a href="{{ reference.id }}/"> {{ reference.FIO }}</a>
        <p>Отдел: {{ reference.Department }}</p>
    {% endfor %}
<h1 class="text-4xl md:text-6xl text-gray-700 font-semibold">Итог:2</h1>

<p></p>
<a href="/add_reference/"><button type="button" class="btn btn-outline-primary">Добавить сотрудника</button></a>

</div>
</body>
</html>
